.Notifications {
    border: 2px dotted #E05050;
    padding: 1rem;
    position: absolute;
    right: 10px;
    overflow: hidden;
    /*width: 96%;*/
    /*position: fixed;*/
    /*top: 0;*/
}

.menuItem {
    text-align: end;
}

[data-notification-type="default"] {
    color: blue;
}

[data-notification-type="urgent"],
.dangerous-notification {
    color: red;
}