.App-header {
  display: flex;
  border-bottom: 2px solid #E05050;
  margin-top: 190px;
}

.App-header h1 {
  align-self: center;
  color: #E05050;
}

.App-logo {
  width: 40vmin;
  height: auto;
}

.App-body p {
  margin-left: 50px;
}

.App-body [for="email"] {
  margin-left: 50PX;
}

.App-body label {
  margin-right: 10PX;
}

.App-body input {
  margin-right: 10PX;
}

.App-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-style: italic;
  border-top: 2px solid #E05050;
}
